.terminal {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
    padding: 1rem;

    .xterm {
        width: 100%;
        height: 100%;

        .xterm-screen {
            width: 750px !important;
        }

        .xterm-rows {
            width: 750px !important;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            > div {
                width: 100% !important;
                > span {
                    width: inherit;
                }
            }
        }
    }
}
