<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Add the following lines to set the correct MIME type for SVG files
  AddType image/svg+xml svg svgz
  AddEncoding gzip svgz

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>